# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# NPM
node_modules/

# Other
muzak.zip
claudia.json
config.js
artist.js
album.js
genre.js
speechAssets/speechAssets.json

# VS Code
.vscode