# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# NPM
node_modules/

# Other
muzak.zip
claudia.json
config.js
artist.js
album.js
genre.js
speechAssets/speechAssets.json
speechAssets/ALBUM.txt
speechAssets/ARTIST.txt
speechAssets/GENRE.txt
speechAssets/PLAYERS.txt
speechAssets/utterences.txt
speechAssets/intents.json

# VS Code
.vscode