# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# NPM
node_modules/

# Other
muzak.zip
claudia.json
config.js
Notes
info/artist.js
info/album.js
info/genre.js
info/title.js
info/playlist.js
speechAssets/speechAssets.json

package-lock.json

